/* image for background */
body{
    background-image: url("../images/51ig8f-XiwL._SX318_BO1,204,203,200_.jpg");
}

/* styles for quiz */
div, header{
    background: pink;
}
.wrapper, header{
    width: 40%;
}
/* styles for timer */
#Timer{
    float: right;
    padding: 10px;
    background: red;
    color: blue;
}